<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Samsung_Jellyfin_Installer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Samsung_Jellyfin_Installer.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Samsung_Jellyfin_Installer.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Samsung_Jellyfin_Installer.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Samsung_Jellyfin_Installer.Settings>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Certificate" serializeAs="String">
                <value>Jelly2Sams</value>
            </setting>
            <setting name="RememberCustomIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomWgtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeletePreviousInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserCustomIP" serializeAs="String">
                <value />
            </setting>
        </Samsung_Jellyfin_Installer.Settings>
        <Samsung_Jellyfin_Installer.Config>
            <setting name="Language" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="Certificate" serializeAs="String">
                <value>Jelly2Sams</value>
            </setting>
            <setting name="RememberCustomIP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RemoveOld" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CustomWgtPath" serializeAs="String">
                <value />
            </setting>
            <setting name="DeletePreviousInstall" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UserCustomIP" serializeAs="String">
                <value />
            </setting>
        </Samsung_Jellyfin_Installer.Config>
    </userSettings>
    <applicationSettings>
        <Samsung_Jellyfin_Installer.Settings>
            <setting name="ReleasesUrl" serializeAs="String">
                <value>https://api.github.com/repos/jeppevinkel/jellyfin-tizen-builds/releases</value>
            </setting>
            <setting name="AuthorEndpoint" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/authors</value>
            </setting>
            <setting name="DistributorsEndpoint_V1" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v1/distributors</value>
            </setting>
            <setting name="DistributorsEndpoint_V2" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/distributors</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>v1.5.9</value>
            </setting>
            <setting name="TizenCliUrl" serializeAs="String">
                <value>https://download.tizen.org/sdk/Installer/tizen-studio_6.1/web-cli_Tizen_Studio_6.1_windows-64.exe</value>
            </setting>
        </Samsung_Jellyfin_Installer.Settings>
        <Samsung_Jellyfin_Installer.Config>
            <setting name="ReleasesUrl" serializeAs="String">
                <value>https://api.github.com/repos/jeppevinkel/jellyfin-tizen-builds/releases</value>
            </setting>
            <setting name="AuthorEndpoint" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/authors</value>
            </setting>
            <setting name="DistributorsEndpoint_V1" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v1/distributors</value>
            </setting>
            <setting name="DistributorsEndpoint_V2" serializeAs="String">
                <value>https://dev.tizen.samsung.com/apis/v2/distributors</value>
            </setting>
            <setting name="TizenCliUrl" serializeAs="String">
                <value>https://download.tizen.org/sdk/Installer/tizen-studio_5.5/web-cli_Tizen_Studio_5.5_windows-64.exe</value>
            </setting>
            <setting name="AppVersion" serializeAs="String">
                <value>v1.5.8-beta</value>
            </setting>
        </Samsung_Jellyfin_Installer.Config>
    </applicationSettings>
</configuration>