[Desktop Entry]
Version=1.0
Type=Application
Name=Jellyfin2Samsung
Comment=Install Jellyfin on Samsung Smart TVs
Icon=jelly2sams
Terminal=false
Categories=Utility;Network;
StartupNotify=true
MimeType=application/x-jellyfin2samsung;
Exec=start-jellyfin2samsung.sh
